*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;
}

#container {
    display: flex;
    background-color: black;
    margin-top: 0.4em;
    margin-left: auto ;
    margin-right: auto ;
    max-width: fit-content;
}

header {
    border-bottom: 1px solid rgb(58,58,60);
}

.title {
    color: gainsboro;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.4em 0 0.4em 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
}

#board{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58,58,60);
    min-width: 60px;
    min-height: 60px;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 1.75em;
    text-transform: capitalize;
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    border: 0;
    padding: 0 ;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgb(129,131,132);
    color: rgb(215,218,220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button{
    flex-grow: 1.5;

}

.spacer-half{
    flew-grow: 0.5;

}